.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-outlined.MuiFormLabel-root.MuiFormLabel-colorPrimary.css-1fb9onp-MuiFormLabel-root-MuiInputLabel-root{
    color:white;
}
.css-1o2jng6-MuiOutlinedInput-notchedOutline{
    border-color: white !important;
    color:white;
}


.MuiOutlinedInput-input.MuiInputBase-input.css-weuz2y-MuiInputBase-input-MuiOutlinedInput-input{
    color:white;
}


.makeStyles-container-5{
    border-color: white;
    color:white;
}

.makeStyles-container-1{
    border-color: white;
    color:white;
}

MuiFormLabel-root.Mui-focused {
    color: white !important;
  }

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
border-color: white !important;
}

.MuiOutlinedInput-root. .MuiOutlinedInput-notchedOutline {
    border-color: white !important;
}


.notchedOutline {
    border-color: white !important;
}
