body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Arial', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(46, 46, 46);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* MOBILE */
html{
  font-size:14px;
}

/* TABLET */
@media only screen and (min-width: 480px) {
  html{
      font-size:16px;
  }
}
/* DESKTOP */
@media only screen and (min-width: 768px) {
  html{
      font-size:18px;
  }
}
/* X-LARGE */
@media only screen and (min-width: 1024px) {
  html{
      font-size:20px;
  }
}